* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #f4f3ed;
    --gray96: #969696;
    --width-lg: 1296px;

    --border-4: 4px;
}

a {
    color: black;
    text-decoration: none;
}

body {
    font-family: "Poppin", sans-serif;
}

header {
    padding: 40px 0;
    background: var(--background);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: var(--width-lg);
    width: 100%;

    margin: 0 auto;
}

.navlink {
    display: flex;
    gap: 40px;
}

.navlink a {
    font-weight: 600;
    font-size: 15px;
}

.hero_section {
    position: relative;
    height: 760px;

    background: var(--background);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.hero_section>div {
    display: flex;
    justify-content: space-between;

    max-width: var(--width-lg);
    width: 100%;
}

.hero_section h2 {
    font-size: 205px;
}

.hero_section .ctn_reviews {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero_section .ctn_avatar {
    display: flex;
}

.hero_section .avatar {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: black;
    border: 1px solid green;
    margin-right: -15px;
}

.hero_section .reviews {
    font-size: 20px;
    max-width: 300px;
}

.hero_section .ctn_reviews p {
    font-weight: 600;
}

.hero_section .reviews span {
    color: var(--gray96);
}

.hero_section .ctn_infor {
    max-width: 300px;
}

.hero_section .ctn_infor p {
    margin-bottom: 16px;
    line-height: 28px;
}

.hero_section .avatar_hero {
    position: absolute;
    bottom: 0;

    width: 400px;

    aspect-ratio: 3/4;
    object-fit: cover;

    left: 50%;
    transform: translate(-50%) rotate(10deg);

    border: 2px solid white;
    border-radius: 20px;

    transition-duration: 300ms;
}

.hero_section .avatar_hero:hover {
    transform: translate(-50%);
}

.about_section {
    height: calc(100vh - 117px);

    padding: 100px 0;

    background-color: #000;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about_section .worked_list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.about_section h5 {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.about_section marquee {
    word-spacing: 100px;
    width: var(--width-lg);
}

.about_section .about_content {
    width: var(--width-lg);
    display: flex;
}

.about_section .about_content h3 {
    width: 25%;
    font-size: 22px;
}

.about_section .about_content>div {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.about_section .about_content>div>p {
    font-weight: 500;
}

.about_section .about_content>div>div {
    display: flex;
    justify-content: space-between;
}

.about_section .about_content .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.about_section .about_content .detail span {
    font-weight: 600;
}

.about_section .about_content .detail span:nth-child(1) {
    font-size: 50px;
}

.about_section .about_content>div p {
    font-size: 30px;
    line-height: 42px;
}

.btn_black {
    padding: 20px 34px;
    font-weight: 600;

    background: #000;
    color: white;

    border: 1px solid transparent;
    border-radius: var(--border-4);

    cursor: pointer;

    transition-duration: 300ms;
}

.btn_black:hover {
    background: transparent;
    color: #000;
    border: 1px solid var(--gray96);
}